*{
    padding: 0;
    margin: 0;
    font-family: monospace;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}html{
    scroll-behavior: smooth;
}
/*vista mobile*/
/*--------------------------*/
/*Inicio CSS del header mobile*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    background-color: #94c973;
    min-width: 300px;
}
.header__logo{
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    border-bottom: 3px solid #2f5233;
    box-shadow: 0px 5px 5px #2f5233;
    color: #2f5233;
    padding: 2px;
}
.header__logo h2{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
.header__nav{
    padding: 0;
    margin: 0;
    width: 100%;
}
.links a:hover{
    opacity: 0.9;
}
.header__nav ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 300px;
    max-width: 100%;
}
.header__nav ul a{
    display: block;
    width: 100%;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    color: #2f5233;
    font-size: 20px;
    font-weight: bolder;
    border-bottom: 1px solid #76b947;
}
.header__nav ul a:active{
    color: #76b947;
}
/*Fin CSS del header mobile */
/*--------------------------*/
/*Inicio CSS del footer mobile*/
    footer{
    min-height: 300px;
    width: 100%;
    background-color: #94c973;
    border-top: 1px solid #76b947;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer .marca{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #2f5233;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
footer .marca h2{
    font-family: 'Lobster', cursive;
    font-size: 30px;
}
footer .marca h2 span{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
footer .rrss{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
footer .rrss p{
    color: #2f5233;
    font-weight: bolder;
    font-size: 20px;
    border-bottom: 3px solid #76b947;
    text-align: center;
}
footer a:active{
    opacity: 0.9;
}
/*Fin CSS del footer mobile*/
/*--------------------------*/
/*Inicio CSS del main mobile*/

.tarjeta{
    width: 90%;
    min-height: 380px;
    height: auto;
    background-color: #94c973;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    color: #2f5233;
    gap: 20px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    font-size: 18px;
    font-weight: bold;
}
.tarjeta__btn{
    text-decoration: none;
    background-color: #76b947;
    padding: 20px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
    color: #2f5233;
    font-weight: bolder;
    font-size: 16px;
}
.tarjeta__btn:active{
    box-shadow: 2px 2px 2px #2f5233;
}
.grid-container{
    display: grid;
    justify-items: center;
    align-items: center;
    height: auto;
    background-color: #76b947;
    gap: 20px;
    padding: 10px;
}
.img__mascota{
    width: 90%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-y: hidden;
    background-position: center;
    box-shadow: 10px 10px 5px #2f5233;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: whitesmoke;
    gap: 5px;
    color: #212121;
}
.img__mascota img{
    height: 100%;
    min-width: 100%;
}
.img__mascota h3{
    margin-bottom: 30px;
    font-family: 'Square Peg', cursive;
    font-size: 30px;
    overflow-y: hidden;
}
.galeria{
    background-color: #76b947;
}
/*Fin CSS del main mobile*/
/*--------------------------*/

/* adopta.html CSS*/

main{
    background-color: #76b947;
}
main .tarjeta h2{
    border-bottom: 2px solid #2f5233;
}
.formulario-adopcion label{
    margin-top: 15px;
}
.formulario-adopcion label{
    font-weight: bolder;
    font-size: 16px;
    align-self: flex-start;
}
.formulario-adopcion input, textarea{
    align-self: flex-start;
    background-color: #94c973;
    border: 0;
    border-bottom: 2px solid #2f5233;
    
}
.formulario-adopcion input:focus{
    outline: 0 none;
}
.formulario-adopcion{
    gap: 0;
}
.main-adopta .mascota-radio{
    align-self: flex-start;
    margin-top: 5px;
}
.main-adopta .formulario-adopcion select{
    align-self: flex-start;
    padding: 5px;
    border: 2px solid #2f5233;
    border-radius: 10px;
    font-size: 16px;
}
.formulario-adopcion option{
    padding: 5px;
    border: 2px solid #2f5233;
    font-size: 16px;
}
.formulario-adopcion select:focus{
    outline: 0 none;
}
.btn-form{
    border: none;
    background-color: #94c973;
    align-items: center;
}
.btn-form:hover{
    cursor: pointer;
}
.main-adopta form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*contactanos css*/
form textarea{
    border: 2px solid #2f5233;
    border-radius: 5px;
    resize: none;
}
form textarea:focus{
    outline: 0 none;
}
.main-contacto{
    display: flex;
    flex-direction: column;
    align-content: center;
}
.tarjeta-rol{
    text-align: center;
}
.main-ayuda .tarjeta h3{
    border-top: 2px solid #2f5233;
}
/*fin de la vista mobile*/
/*------------------------*/
/*Inicio vista tablet*/
@media (min-width: 300px) and (max-width: 330px){
    .voluntario-mail{
        font-size: 90%;
    }
}
@media (min-width: 481px) and (max-width: 767px){
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "tarj0 tarj1 "
                             "button button";
        gap: 20px;
        padding: 20px;
    }
    .tarjeta0{
        grid-area: tarj0;
    }
    .tarjeta1{
        grid-area: tarj1;
    }
    .main-adopta{
        display: grid;
    }
    .btn-form{
        grid-area: button;
    }
    .main-contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .main-ayuda{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .voluntario-mail, .contacto-mail{
        font-size: 70%;
    }
    .main-quienes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .voluntario-mail{
        font-size: 70%;
    }
}
/*fin vista tablet*/
@media (min-width:768px ) and (max-width:1024px){
    .main-ayuda{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .header__nav ul{
        display: flex;
        flex-direction: row;
    }
    .header__nav ul a{
        border-bottom: none;
    }
    .voluntario-mail{
        font-size: 20px;
    }
    .contacto-mail{
        font-size: 20px;
    }
    .main-quienes{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .main-contacto{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .btn-form{
        grid-area: btn-form;
    }
    .grid-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-areas: "tarj0 tarj1 "
                             "btn-form btn-form";
        gap: 20px;
        padding: 20px;
    }
    .tarj-adop:hover,.tarj-resc:hover,.img__mascota:hover{
        animation-name: sube-tarjeta;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .tarj-adop:not(:hover),.tarj-resc:not(:hover),.img__mascota:not(:hover){
        animation-name: baja-tarjeta;
        animation-duration: 1s;
    }
    .tarjeta:hover{
        box-shadow: 5px 10px 18px #0a0a0a;
    }
    .tarjeta__btn:hover{
        box-shadow: 10px 10px 5px #2f5233;
    }
  
}
@media (min-width: 1025px){
    .header__nav ul a:hover{
        background-color: #2f5233;
        color: #76b947;
    }
    .header__nav ul{
        display: flex;
        flex-direction: row;
    }
    .tarjeta__btn:hover{
        box-shadow: 10px 10px 5px #2f5233;
    }
    .main-index{
        display: grid;
        grid-template-columns: repeat(3,2fr);
        grid-template-areas: "tarj-resc tarj-resc"
                            "";
    }
    .voluntario-mail{
        font-size: 20px;
    }
    .contacto-mail{
        font-size: 20px;
    }
    .tarj-adop:hover,.tarj-resc:hover,.img__mascota:hover{
        animation-name: sube-tarjeta;
        animation-duration: 1s;
        animation-fill-mode: forwards;
    }
    .tarj-adop:not(:hover),.tarj-resc:not(:hover),.img__mascota:not(:hover){
        animation-name: baja-tarjeta;
        animation-duration: 1s;
    }
    .tarjeta:hover{
        box-shadow: 5px 10px 18px #0a0a0a;

    }
}
/* animaciones */
@keyframes sube-tarjeta {
    0%{
        transform: translateY(0%);
    }
    100%{
        transform: translateY(-5px);
    }
}
@keyframes baja-tarjeta{
    0% {
        transform: translateY(-5px);
      }
      100% {
        transform: translateY(0px);
      }
}


